@charset "utf-8";
/* CSS Document */
/*Reset*/
*{box-sizing:content-box;}
a:hover, a:focus{text-decoration:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
body{max-width: 1920px;-webkit-text-size-adjust:none;}
fieldset,img{border:0;}
img{ vertical-align: top; max-width: 100%; }
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
.clearfix:after{visibility:hidden;display: block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.cli{ clear:both; font-size:0; height:0; overflow:hidden;display:block;}
.lclear{clear:left;font-size:0;height:0;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
/*general*/
body{font-size:14px;font-family:'微软雅黑',"宋体","Arial Narrow",Helvetica,sans-serif;color:#191f25;line-height:1.2;text-align:left;}
a{color:rgba(25,31,37,0.72);text-decoration:none;}
a:hover{color:rgba(25,31,37,0.72)}
.gray{color:rgba(25,31,37,0.4);}
.gray56{color:rgba(25,31,37,0.56);}
.gray40{color:rgba(25,31,37,0.4);}
.align-center{text-align: center}
/*start*/
.messLists{
    padding: 0 0 15px 0;
}
.messLists li{
    width:100%;
    min-height:60px;
}
.messInfo{
    position:relative;
    line-height:25px;
    border-bottom:1px solid rgba(25,31,37,0.12);
    padding:0 60px 10px 15px;
}
.messInfo p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top:10px;
}
.messReply{
    position: absolute;
    top:50%;
    margin-top:-20px;
    right:15px;
}
.redCircle{
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #f25643;
    right:30px;
    margin-top:-10px;
}

.ending{
    color:rgba(25,31,37,0.28);
}
time{
    color:rgba(25,31,37,0.28);
    font-size:12px;
}
/*detail*/
.mDetail{
    margin:15px 0;
    padding-bottom:50px;
}
.mDetailTop{
    margin:15px;
}
.mDetail h1{
    font-size:18px;
    margin:0 0 10px;
}
.mDetailInfo{
    margin:0 15px 15px;
}
.mDetailInfo p{
    line-height:30px;
    font-size:14px;
    color:rgba(25,31,37,0.56);
}
.mCy, .mZj{
    padding:15px;
    border-top:1px solid rgba(25,31,37,0.12);
}
.mCyInfo,.mInfo{
    margin-top:15px;
    padding:10px;
    background-color: #f6f6f6;
}
.mCyInfo a{
    padding-right:10px;
}
.receiptInfo{
    border-top:1px solid rgba(25,31,37,0.12);
    padding:15px;
}
.bold_line{
    border-top:5px solid rgba(25,31,37,0.12);
}
#hzCon{
    padding:20px 40px;
}
nav.layui-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid rgba(25,31,37,0.12);
    background: #fff;
    z-index: 9;
}
nav.layui-container .layui-row li:first-child{
    border-right:1px solid rgba(25,31,37,0.12);
}
nav.layui-container .layui-row li a{
    display:block;
}
.hymc{
    margin-bottom:10px;
}
.hyxq li{
    /*padding:5px 20px;*/
    line-height: 1.5;
}
.hyxq li a, .dd_blue,  a.dd_blue,  a.dd_blue:active, .yue, .hui {
    color: #3296fa;
}

.dd_red {
    color: #f25643;
}

/*参与人列表*/
.attendeeLists li{
    padding:15px;
    border-bottom:1px solid #e5e5e5;
}
.attendeeLists li a{
    color:#333;
}
.attendeeLists li em{
    margin-left:10px;
}
.attendeeLists li span{
    font-size:13px;
    color:#3296fa;
}